body {
  background-color: #ffcccc;
}

.love {
  position: relative;
  display: inline-block;
}

.heart {
  z-index: 999;
  position: absolute;
  animation: heartfade 6s linear;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #fc2a62;
  position: absolute;
  height: 30px;
  width: 45px;
  border-radius: 15px 0px 0px 15px;
}

.heart:before {
  transform: rotate(45deg);
}

.heart:after {
  left: 10.5px;
  transform: rotate(135deg);
}

.text {
  position: absolute;
  font-size: 24px;
  color: #fc2a62;
  font-weight: bold;
  z-index: 1000;
}
body {
  background-color: #ffcccc;
}

.love {
  position: relative;
  display: inline-block;
}

.heart {
  z-index: 999;
  position: absolute;
  animation: heartfade 6s linear;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #fc2a62;
  position: absolute;
  height: 30px;
  width: 45px;
  border-radius: 15px 0px 0px 15px;
}

.heart:before {
  transform: rotate(45deg);
}

.heart:after {
  left: 10.5px;
  transform: rotate(135deg);
}

.text {
  position: absolute;
  font-size: 24px;
  color: #fc2a62;
  font-weight: bold;
  z-index: 1000;
}
